
/*		.building {
			background-color:#ffccff; 
			color:#333; 
			margin:0 2%; 
			display:inline-block; 
			vertical-align: bottom;
			border-radius:4px;
			
			
		}
		.small-building	
		{ 
			width: 20%;
		}
		.medium-building {
			width:45%;
		}
		.large-building { 
			width:70%;
		}
		.main-area {
			background-color:#99ccff;
			padding-top:50px;
			padding-bottom:0;
			overflow:hidden;
			vertical-align:bottom;
			height:60%;
		}
*/		
		.top-banner{
			background-color:#333;
			width:100%;
			min-height:15%;
			overflow:hidden;
		}
/*		.logo {
			font-family:'Oswald', sans-serif;
			weight:bold;
			font-size:48px;
			float:left;
			padding-left:15px;
		}
		.orange-text {
			color:#ff9933;
		}
		.blue-text {
			color:#6699ff;
		}
		
		.yellow-text {
			color:#ffff66;
		}
		.beach {
			background-color: #ffffcc;
			background-image: url("sandtexture2.png");
			width:100%;
			min-height:15%;
			padding-left:20px;
			
		}
		.youtube {
		text-align:center;
		}
		
		nav {
			float:right;
			margin-right:20px;
		}
		nav ul {
			background-image: url("menubg.png");
			background-repeat:repeat-x;
			background-position:center;
			overflow:hidden;
			margin:0;
			padding:0;
			
		}
		nav ul li {
			display:inline-block;
			background-image: url("menubutton.png");
			background-repeat:no-repeat;
			background-position:center;
			padding-left:15px;
			padding-right:15px;
			padding-top:55px;
			text-align:center;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight:bold;
		}
		
		nav ul li a {
			color:#ff9933;
			text-decoration:none;
		}
		
		nav ul li.selected {
			background-image: url("menubuttonselect.png");
		}